<html>
    <head>
        <title>== kuudere Web UI ==</title>
        <link rel="stylesheet" type="text/css" href="/static/css/site.css">
    </head>
    <body>
        <center>
            <img src="/static/img/logo.png" class="responsive">
            <h1>kuudereRAT PRE-ALPHA Build</h1>
            <table>
                <tr>
                    <th>&#10032;</th>
                    <th>UUID</th>
                    <th>IP</th>
                    <th>LAST SEEN</th>
                    <th></th>
                </tr>
            {{ range $index, $element := . }}
            <tr>
                <td>{{ $index }}</td>
                <td>{{ .Uuid }}</td>
                <td>{{ .Ipaddr }}</td>
                <td>{{ .Ts_last }}</td>
                <td>
                    <form method ="post" action="/create_task/{{.Uuid}}">
                    <select name="task" size="1" id="select-task">
                        <option value="shell">Shell</option>
                    </select>
                    <button type="submit">Load</button>
                    </form>
                </td>
            </tr>
            {{ end }}
            </table>
        </center>
    </body>
</html>